$white: #ffffff;
$transparent: #ffffff61;
$black: #222222;
$topText:  rgba(34, 34, 34, 0.6);

// $orange: linear-gradient(0deg, #FFAE34, #FFAE34),linear-gradient(248.04deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 99.07%);

// $red: linear-gradient(0deg, #F33355, #F33355),linear-gradient(248.3deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 100%);

// $purple: linear-gradient(0deg, #8B58F9, #8B58F9),linear-gradient(248.52deg, rgba(0, 0, 0, 0.15) 1.49%, rgba(0, 0, 0, 0) 100%);

// $njnaBlack: linear-gradient(0deg, #222222, #222222), linear-gradient(248.3deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);

// $grey: linear-gradient(0deg, #D0D0D0, #D0D0D0),linear-gradient(248.3deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);

