@import '../../scss/_mixins.scss';
@import '../../scss/_variables.scss';


.card{
    @include cardContent;
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 2.5rem;



    &__images {
        display: flex;
        justify-content: space-between;
        padding: 1.4rem 1rem ;
        align-items: flex-start;
    }
    &__nr {
        font-size: 29px;
        line-height: 32px;
        letter-spacing: 0.03em;
        color: $black;
        margin: 0;
        margin-bottom: 1rem;
    }
    &__text {
        font-size: 12px;
        line-height: 1px;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    &__text__info {
        font-size: 18px;
        line-height: 1px;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
}
