@import '../scss/_mixins.scss';
@import '../scss/_variables.scss';


.add-card{
    @include container;
    min-height: 940px;

    &__back {
        display: flex;
        padding: 1rem 1rem 0 1rem;
        margin-right: auto;
    }

    &__top {
        padding-bottom: 7rem;
    }
}
