@import '../scss/_mixins.scss';
@import '../scss/_variables.scss';


.addCard{
    @include container;
    @include center;
    &__back {
        display: flex;
        padding: .5rem;
        margin-right: auto;
    }
}
