@import '../scss/_mixins.scss';
@import '../scss/_variables.scss';


.home {
    @include container;
    // display: flex;
    // justify-content: center;
    // display: grid;
    // grid-template-rows: 80px 300px 400px 100px;
    // @include center;

    &__top {
        padding-top: 1rem;
    }

    &__cards {
        height: 700px;
    }

    &__card {
        height: 250px;
    }

    &__cardStack {
        // max-width: 382px;
        max-height: 400px;
        display: grid;
        // grid-template-columns: 382px;
        grid-template-rows: auto;
        margin: auto    
    }

    &__card {
           @include center; 
    }

    &__title {
        @include topTitle;
    }

    &__text {
        @include topText;
    }
    &__btn--container {
        // display: flex;
        // justify-content: center;
        z-index: 2;
  
    }
    &__btn {
        @include btnHome;
    }

}