@import '../scss/_mixins.scss';
@import '../scss/_variables.scss';


.home {
    @include container;

    &__top {
        padding-top: .5rem;
    }

    &__card {
        height: 250px;
    }

    &__cardStack {
        margin: auto    
    }

    &__card {
        @include center; 
    }

    &__title {
        @include topTitle;
    }

    &__text {
        @include topText;
    }
    
    &__btn {
        @include btnHome;
        margin: 1rem;
    }
}