@import '../scss/_mixins.scss';
@import '../scss/_variables.scss';


.home {
    @include container;
    // display: flex;
    // justify-content: center;
    // display: grid;
    // grid-template-rows: 80px 300px 400px 100px;
    
    // @include center;
    &__cards {
        height: 700px;
        background-color: rgb(182, 182, 255);
    }
    &__card {
        height: 250px;
        background-color: rgb(82, 82, 255);
    }
    &__cardStack {
        background-color: hotpink;
        max-width: 382px;
        max-height: 400px;
        display: grid;
        grid-template-columns: 382px;
        grid-template-rows: auto;
    
    }
    &__card {
           @include center; 
    }

    &__title {
        @include title;
    }
    &__title2 {
        @include title2;
    }


    &__btn {
        grid-row: 4/5;
        align-self: center;
        @include btnHome;
    }

}